<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: head" ></head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>

<div class="container">
    <h2>Nested Media Objects</h2>
    <p>Media objects can also be nested (a media object inside a media object):</p><br>
    <div class="media">
        <div class="media-left">
            <img th:src="@{/static/images/img_avatar1.png}">
        </div>
        <div class="media-body">
            <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <!-- Nested media object -->
            <div class="media">
                <div class="media-left">
                    <img th:src="@{/static/images/vader2.png}" class="media-object" style="width:45px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">John Doe <small><i>Posted on February 20, 2016</i></small></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <!-- Nested media object -->
                </div>

                <!-- Nested media object -->
                <div class="media">
                    <div class="media-left">
                        <img src="/static/images/img_avatar4.png" class="media-object" style="width:45px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Jane Doe <small><i>Posted on February 20, 2016</i></small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Nested media object -->
        <div class="media">
            <div class="media-left">
                <img src="/static/images/img_avatar5.png" class="media-object" style="width:45px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Jane Doe <small><i>Posted on February 19, 2016</i></small></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="media">
                    <div class="media-left">
                        <img src="/static/images/img_avatar4.png" class="media-object" style="width:45px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Jane Doe <small><i>Posted on February 20, 2016</i></small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="fragments :: js"></div>
</body>
</html>